@import "tailwindcss";

@theme {
  --color-charcoal: #1B113C;
  --color-soft-blue: #4D48E2;
  --color-pastel-blue: #C3CDFF;
  --color-tangerine: #FCFF35;

  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 125rem;
  --breakpoint-3xl: 150rem;
  --breakpoint-4xl: 250rem;
  --font-sans: "Public Sans", sans-serif;
  --animate-custom-pulse: pulse cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes pulse {
    50% {
      opacity: 0.25;
      filter: blur(0.8px);
      animation-duration: 12s;
      /* transform: scale(1.02); */
    }
  }
  
}

.animated-background {
    background-size: 400%;
    -webkit-animation: animation 16s ease infinite;
    -moz-animation: animation 16s ease infinite;
    animation: animation 16s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}


html { scroll-behavior: smooth; }

@layer utilities {
  .wave-bg {
    background-image: url('/bg/wave1.svg');
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

/* font */
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
